.container {
    padding: 1.5rem 4rem;
}

.containerCartPayment {
    display: flex;
    flex-wrap: wrap;
}

.cartContainer + .cartContainer {
    margin-top: 1rem;
}

.headingEmptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    height: 50vh;
}

.headingEmptyCart img {
    width: 10rem;
}

.headingEmptyCart h1 {
    color: var(--green-300);
    font-weight: 600;
    font-size: 1rem;
}

.headingEmptyCart a {
    font-weight: 500;
    color: var(--yellow);
}

.headingYourCart h1 {
    color: var(--green-300);
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.cartProduct {
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1px solid var(--gray-200);
    border-left: none;
    border-right: none;
    height: 12rem;
    width: 100%;
}

.productImage img {
    width: 10rem;
}

.cartContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.productInfo {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.productName {
    width: 100%;
}

.productInfo h2 {
    font-size: 1rem;
    font-weight: 600;
}

.productInfo p {
    margin-top: 0.4rem;
    font-size: 0.875rem;
    color: var(--gray-500);
}

.buttonActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.buttonQuantity {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.buttonQuantity button {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 4px;
    background: var(--gray);
}

.productRemove button {
    display: flex;
    align-items: center;
    height: 100%;
    border: none;
    background: transparent;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

.productRemove button:hover {
    color: var(--red);
    cursor: pointer;
}

.checkout {
    background: var(--white);
    border-radius: 6px;
    height: 100%;
    padding: 2rem 2rem;          
    width: 100%;
    margin-top: 3rem;
}

.checkout h1{
    font-size: 1rem;
    font-weight: 600;
    color: var(--green-400);
}

.paymentInfos {
    margin-top: 1rem;
}

.paymentInfos div {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.paymentInfos span {
    font-size: 0.875rem;
    color: var(--gray-500);
}

.paymentInfos p {
    font-weight: 500;
    font-size: 0.875rem;
    font-weight: (--green-400);
}

.cartTotal {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    font-weight: 500;
    font-size: 0.875rem;
    border-top: 1px solid var(--gray-300);
}

.cartTotal span {
    margin-top: 1rem;
    color: var(--green-500);
    font-size: 0.875rem;
}

.cartTotal p {
    margin-top: 1rem;
    color: var(--yellow);
    font-weight: 600;
    font-size: 0.875rem;
}

.checkoutButton {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.checkoutButton button {
    width: 16rem;
    padding: 0.8rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 6px;
    background: var(--green-300);
    color: var(--gray);
    font-weight: 500;
}

.checkoutButton button:hover {
    background: var(--green-400);
    cursor: pointer;
}

@media (max-width: 480px) {
    .container {
        padding: 1rem 2.5rem;
    }

    .headingYourCart h1 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .cartProduct {
        display: flex;
        flex-direction: column;
        height: 100%;
        border: none;
        gap: 0.8rem;
        border: 1px solid var(--gray-200);
        border-radius: 6px;
    }

    .cartContainer + .cartContainer {
        margin-top: 2.5rem;
    }

    .productImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom: 1px solid var(--gray-200);
    }

    .productInfo {
        padding: 0 1rem 0.8rem 1rem;
    }

    .productInfo h2 {
        font-size: 0.9rem;
        font-weight: 600;
    }

    .productInfo p {
        margin-top: 0.4rem;
        font-size: 0.8rem;
    } 

    .checkout {
        padding: 1rem;   
    }

    .checkout h1 {
        font-size: 0.9rem;
    }

    .paymentInfos span {
        font-size: 0.8rem;
    }

    .paymentInfos p {
        font-size: 0.8rem;
    }

    .cartTotal span {
        font-size: 0.8rem;
    }

    .cartTotal p {
        font-size: 0.8rem;
    }
  }
