.header {
    padding: 1.2rem 4rem;
}

.aside {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.aside h1 {
    color: var(--green-300);
    font-size: 1.5rem;
    font-weight: 400;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.shopActions {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
}

.shopActions li a {
    color: var(--green-300);
}

.shopActions li {
    position: relative;
}

.itemAdded::before {
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: var(--yellow);
    right: 0;
    position: absolute;
    top: -4px;
}

.shopActions a:hover {
    color: var(--yellow);
}

