.productsHeading {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
}

.productsHeading h1 {
    color: var(--green-300);
    font-weight: 500;
    font-size: 2rem;
}

.productsArea {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 4rem;
}

.productsCard {
    display: flex;
    flex-direction: column;
    width: 340px;
}

.productsCard img {
    width: 100%;
    border: 1px solid var(--white);
    border-radius: 0.75rem;
}

.productsPrimaryInfo {
    display: flex;
    margin: 0.7rem 0 0.4rem 0;
    justify-content: space-between;
    color: var(--green-400);
}

.productsPrimaryInfo h2 {
    font-weight: 500;
    font-size: 0.975rem;
}

.productsPrice p {
    margin-top: 0.3rem;
    color: var(--gray-500);
    font-weight: 500;
}

.productsPrice span {
    font-size: 0.8rem;
    color: var(--gray-400);
    text-decoration: line-through;
}

.productsAddToCart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
}

.buttonAddToCart {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    gap: 8px;
    padding: 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 6px;
    background: var(--green-300);
    color: var(--gray);
    font-weight: 500;
}

.buttonAddToCart:hover {
    background: var(--green-400);
    cursor: pointer;
}

@media (max-width: 768px) {
    .productsCard {
      width: 100%;
    }
    
    .productsArea {
      justify-content: center;
    }
}

@media (max-width: 480px) {
    .productsHeading h1 {
        font-size: 1.5rem;
    }

    .productsPrimaryInfo h2 {
      font-size: 0.875rem;
    }
  
    .productsPrice p {
      font-size: 1rem;
    }

    .productsArea {
        padding: 1.2rem 2.5rem;
    }

    .buttonAddToCart {
        padding: 0.875rem;
        font-size: 0.8rem;
    }
  }